@{
    ViewBag.Title = "Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper" id="content"> <!-- #content ends in footer.html -->
				<div class="container">
					<div class="posts-wrap" id="page">
						<h2 class="post_title">Prices</h2>

                            	<div class="alert"><strong></strong>
                                    
							<p>Purchase letters in bulk and save, Gift them to friends, family, even co-workers.  </p>
						</div>

                        <div class="clear"></div>
						<div class="third_wide"><strong>Free</strong>
                            <ul class="list">
                                        <li>Access Pre-writen letters</li>
                                        <li>Download in PDF Format</li>
                                        <li>Pre-populate with your Representitives address information</li>
                                    </ul>	
                            <a class="button buttonleft button_gray" href="#">Sure</a>						
						</div>

                    
						<div class="third_wide"><strong>Campaign</strong>
                              <ul class="list">
                                        <li>Access Pre-writen letters</li>
                                        <li>Download in PDF Format</li>
                                        <li>Pre-populate with your Representitives address information</li>
                                    </ul>
                            <a class="button buttonleft button_red" href="#">Get Started</a>
							</p>
						</div>

                        	<div class="third_wide"><strong>Activists</strong>
                                  <ul class="list">
                                        <li>Access Pre-writen letters</li>
                                        <li>Download in PDF Format</li>
                                        <li>Pre-populate with your Representitives address information</li>
                                    </ul>
                                <a class="button buttonleft" href="#">Send Letters</a>	
							</p>
						</div>

					
				
					
						
						<div class="clear"></div>
					</div><!-- end .posts-wrap -->
					
				    @Html.Partial("_SideBar")
				</div><!-- end div.container, begins in header.html -->
			</div><!-- end div.wrapper, begins in header.html -->
