@{
    ViewBag.Title = "Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper" id="content"> <!-- #content ends in footer.html -->
				<div class="container">
					<div class="posts-wrap" id="page">
						<h2 class="post_title">Prices</h2>

                            	<div class="alert"><strong>This is an Alert</strong>
							<p>Pre Pay and Save
							</p>
						</div>

                        <div class="clear"></div>
						<div class="half_wide"><strong>Free</strong>
							<p>Free to create letters and download PDF version to send yourself.
							</p>
						</div>

                    
						<div class="half_wide"><strong>$3.00 Per Item</strong>
							<p>For a small fee will print, address, and send you letters to your addresses for $3.00 a piece.
							</p>
						</div>

                        	<div class="half_wide"><strong>$2.50  Prepay Per Item</strong>
							<p>Prepay for 5 or more letters and recieve a discount  per item.
							</p>
						</div>

					
				
					
						
						<div class="clear"></div>
					</div><!-- end .posts-wrap -->
					
				    @Html.Partial("_SideBar")
				</div><!-- end div.container, begins in header.html -->
			</div><!-- end div.wrapper, begins in header.html -->
