<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target xsi:type="Database" name="LogDb" connectionStringName="LogDb">
      <commandText>
        INSERT INTO Log([Level],[Logger],[MachineName],[Message],[CallSite],[Path],[UserHost]) VALUES(@level,@logger,@machineName,@message,@callSite,@path,@userhost)
      </commandText>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@machineName" layout="${machinename}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@callSite" layout="${callsite:filename=true}"/>
      <parameter name="@path" layout="${aspnet-request:serverVariable=PATH_INFO}"/>
      <parameter name="@userhost" layout="${aspnet-request:serverVariable=REMOTE_ADDR}"/>
    </target>
    <target xsi:type="Mail"
        name="emailTarget"
        layout="Layout Field"
        html="true"
        encoding="UTF-8"
        addNewLines="true"
        subject="Website ${level:uppercase=true}: ${message}"
        to="support@writecongress.us"
        from="support@writecongress.us"
        body="${level:uppercase=true}: ${message}&lt;br/&gt;
        &lt;b&gt;Callsite:&lt;/b&gt; ${callsite:filename=true}&lt;br/&gt;
        &lt;b&gt;URL:&lt;/b&gt; ${aspnet-request:serverVariable=PATH_INFO}&lt;br/&gt;
        &lt;b&gt;IP:&lt;/b&gt; ${aspnet-request:serverVariable=REMOTE_ADDR}&lt;br/&gt;
        &lt;b&gt;Stack:&lt;/b&gt;&lt;br/&gt;
        ${stacktrace:topFrames=10:format=Raw}"
        smtpUserName="trypaper"
        enableSsl="false"
        smtpPassword="$C#XfW2lOV@oBtLH"
        smtpAuthentication="Basic"
        smtpServer="smtp.sendgrid.net"
        smtpPort="587" />
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="emailTarget"/>
    <logger name="*" minlevel="Trace" writeTo="LogDb"/>
  </rules>
</nlog>