<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WriteCongressConnection" connectionString="metadata=res://*/WriteCongressDataModel.csdl|res://*/WriteCongressDataModel.ssdl|res://*/WriteCongressDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:ikgdngr4jq.database.windows.net,1433;initial catalog=WriteCongress;integrated security=False;user id=writecongress;password=m5@VWmj5oVFT#RWDyl;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=WCW&quot;" providerName="System.Data.EntityClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="LogDb" connectionString="user id=writecongress;password=m5@VWmj5oVFT#RWDyl;data source=tcp:ikgdngr4jq.database.windows.net,1433;initial catalog=WriteCongress;integrated security=False;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=NLOG" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>  
    <add key="ForceSSL" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="LOGENTRIES_ACCOUNT_KEY" value="3a97d9cd-900f-4399-9444-86bcca716930" />-->
    <!--<add key="LOGENTRIES_LOCATION" value="" />-->
  </appSettings>
  <system.net>
    <defaultProxy xdt:Transform="Remove"/>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    
  </system.web>
</configuration>