<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WriteCongressConnection" connectionString="metadata=res://*/WriteCongressDataModel.csdl|res://*/WriteCongressDataModel.ssdl|res://*/WriteCongressDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:z69vbhbm00.database.windows.net,1433;initial catalog=writecongress_dev;integrated security=False;user id=matt.krebs@z69vbhbm00;password=Drinksonm3;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>