<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/print")
    @RenderSection("head", false)
</head>
<body>
    
    <div class="container">
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body></html>