<div class="modal" id="createAccount" tabindex="-1" role="dialog" aria-labelledby="createAccount" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-target="#createAccount">×</button>
                <h3>Create an Account</h3>
                <h4>You're 2 clicks away &ndash; create an account in 20 seconds</h4>
            </div>
            

            <div class="modal-body">

                <div id="error-head"></div>
                <form id="createAccountAndRedirect" method="post" action="/Authentication/CreateAccount" class="form-horizontal">
                    <input type="hidden" id="signup-redirect" name="redirect" value="@Request.Url#sendletter" />
                    <input type="hidden" id="signup-firstname" name="firstname" data-bind="{value:User.FirstName}" />
                    <input type="hidden" id="signup-lastname" name="lastname" data-bind="{value:User.LastName}" />
                    <input type="hidden" id="signup-address1" name="address1" data-bind="{value:User.AddressOne}" />
                    <input type="hidden" id="signup-address2" name="address2" data-bind="{value:User.AddressTwo}" />
                    <input type="hidden" id="signup-city" name="city" data-bind="{value:User.City}" />
                    <input type="hidden" id="signup-state" name="state" data-bind="{value:User.State}" />
                    <input type="hidden" id="signup-zipcode" name="zipcode" data-bind="{value:User.Zip}" />
                    <input type="hidden" id="signup-congressionaldistrict" name="congressionaldistrict" data-bind="{value:User.CongressionalDistrict}" />
                    <input type="hidden" id="signup-phonenumber" name="phonenumber" data-bind="{value:User.PhoneNumber}" />


                    <div class="row col-md-8">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            <input id="signup-email" class="form-control" type="text" name="email" placeholder="Email" required data-bind="{value:User.Email}">
                            <i class="icon-info-sign error hide"></i>
                            <div class="hide" id="emailSuggestion"></div>
                            <div class="hide" id="emailMsg"></div>
                        </div>
                    </div>

                    <div class="row col-md-8">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            <input id="signup-password" class="form-control" type="password" name="password" placeholder="Password" required>
                        </div>
                    </div>

                    <div class="row col-md-8">
                        <label class="control-label">Password Confirm</label>
                        <div class="controls">
                            <input id="signup-passwordconfirm" type="password" class="form-control" placeholder="Confirm your password" required>
                            <i class="icon-info-sign error hide"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label class="control-label">I agree to:</label></div>
                    </div>

                            <div class="row">
                                <div class="col-md-10">
                    
                                    <input name="tos" id="signup-tos" type="checkbox" value="tos">

                                    <a href="/TOS" class="label dark" target="_blank"><i class="icon-external-link"></i> Terms of Service </a>&nbsp;&amp;&nbsp;<a href="/privacy" class="label dark" target="_blank"> <i class="icon-external-link"></i> Privacy Policy</a>
                                    <i class="icon-info-sign error hide"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10">
                                    <input name="newsletter" type="checkbox" value="newsletter"> Receive "Monitoring Democracy" Email Newsletter
                                </div>
                            </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="createAccountSendLetter" class="btn btn-color btn-primary" data-bind="click:Signup"> Signup & Send My Letters</button>
            </div>
        </div>

    </div>
</div>
@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(function() {
            if (typeof wcglobals.Letter !== "undefined") {
                var letter = wcglobals.Letter;
                var SignupViewModel = function(user) {
                    var self = this;
                    this.User = user;
                    this.Signup = function() {
                        var button = $('#createAccountSendLetter');
                        button.css('cursor', 'wait');
                        button.attr('disabled', 'disabled');
                        var info = {
                            email: $('#signup-email').val(),
                            password: $('#signup-password').val(),
                            passwordconfirm: $('#signup-passwordconfirm').val(),
                            tos: ($('#signup-tos:checked').length == 1)
                        };

                        self.validate(info, function(errors) {

                            if(errors != null & errors.length > 0)
                            {
                                $("#error-head").replaceWith("<div class=\"alert alert-danger\">There are errors with this form:</div>");
                            }
                            for (var i = 0; i < errors.length; i++) {
                                $(errors[i].field).parent().addClass('alert');
                                $(errors[i].field).tooltip({ title: errors[i].message });
                            }


                            button.css('cursor', 'default');
                            button.removeAttr('disabled');
                            if (errors.length == 0) {
                                if (mixpanel.fake) {
                                    mixpanel.track('Signed Up', function() {
                                        $('#createAccountAndRedirect').submit();
                                    });
                                } else {
                                    $('#createAccountAndRedirect').submit();
                                }
                            }
                        });
                    };
                    this.Show = function() {
                        $('#createAccount').modal();
                    };

                    //this function sucks, but i was moving it from the old code and just didn't have time to MVVMify it
                    //TODO: KO this
                    this.validate = function(info, callback) {
                        var errors = [];
                        var email = $('#signup-email').val();
                        $.post('/Authentication/ValidateEmailFormat', { email: email }, function(data) {
                            if (data.Success === true) {
                                $.post('/Authentication/CheckEmailAddress', { email: email }, function(inuse) {
                                    if (inuse.Data === true) {
                                        errors.push({ field: '#signup-email', message: 'Email is already in use.' });
                                    }
                                    callback(errors);
                                });
                            } else {
                                errors.push({ field: '#signup-email', message: 'Invalid email address.' });
                                callback(errors);
                            }
                        });

                        if (info.password.length < 5) {
                            errors.push({ field: '#signup-password', message: 'Your password MUST be at least 5 characters' });
                        }

                        if (info.password !== info.passwordconfirm) {
                            errors.push({ field: '#signup-passwordconfirm', message: 'Your passwords should match' });
                        }
                        if (info.tos !== true) {
                            errors.push({ field: '#signup-tos', message: 'You must agree to the Terms of Service' });
                        }
                    };
                };


                var vm = new SignupViewModel(letter.User());
                wcglobals.Signup = vm;
                ko.applyBindings(vm, document.getElementById('createAccount'));
            }
        });
    </script>
}
