<div class="footer">
    <div class="container">
        <a href="/contact-us/">Contact Us</a> | <a href="/faq/">FAQ</a> | <a href="/privacy/">Privacy Policy</a> | <a href="/TOS/">Terms of Service </a>
    </div>
    <p>&copy; Three Wise Taco Guys @DateTime.Now.Year</p>
</div>