<div id="footer" class="wrapper">
			<div class="container">
				<h1 id="footer_slogan"></h1>
				
					<div class="clear"></div>
				</div>
				<div id="post_footer">
				
		
					<div id="site_info">
						&copy; @DateTime.Now.Year ShakrLabs&nbsp;&nbsp;:&nbsp;
						
					</div>
				</div>
			</div>
		</div>