   <div class="footer">
       <div class="container">
     <a href="/about/">About</a> |
           <a href="/contact-us/">Contact Us</a> |
                 <a href="/send-us-letters/"> Send Us Letters</a> |
           <a href="/privacy/">Privacy Policy</a>
           </div>
        <p>&copy; Three Wise Taco Guys @DateTime.Now.Year</p>
      </div>