<!-- Header Start -->
<header id="header">
    <!-- Header Top Bar Start -->
    <div class="top-bar">
        <div class="slidedown collapse">
            <div class="container">
                <div class="phone-email pull-left">
                    <a href="mailto:support@writecongress.us"><i class="icon-envelope"></i>Email : support@writecongress.us</a>
                </div>
                <div class="pull-right">
                    <ul class="social pull-left">
                        <li class="facebook"><a href="#" title="Facebook"><i class="icon-facebook"></i></a></li>
                        <li class="twitter"><a href="#" title="Twitter"><i class=" icon-twitter"></i></a></li>
                        <li class="pinterest"><a href="#" title="Pinterest"><i class="icon-pinterest"></i></a></li>
                        
                    </ul>
                    <!--
                    <div id="search-form" class="pull-right">
                        <form action="#" method="get">
                            <input type="text" class="search-text-box">
                        </form>
                    </div>
                    s-->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top Bar End -->
    <!-- Main Header Start -->
    <div class="main-header">
        <div class="container">
            <!-- TopNav Start -->
            <div class="topnav navbar-header">
                <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                    <i class="icon-angle-down icon-current"></i>
                </a>
            </div>
            <!-- TopNav End -->
            <!-- Logo Start -->
            <div class="logo pull-left">
                <h1>
                    <a href="/">
                        <img src="/content/images/write-congress-logo.png" alt="Write Congress" height="70">
                    </a>
                </h1>
            </div>
            <!-- Logo End -->

            @Html.Partial("_TopNav")
    
        </div>
    </div>
    <!-- Main Header End -->
</header>
<!-- Header End -->
