<!-- Header Start -->
<header id="header">
    <!-- Header Top Bar Start -->
    <div class="top-bar">
        <div class="slidedown collapse">
            <div class="container">
                <div class="phone-email pull-left">
                    <a href="mail@example.com"><i class="icon-envelope"></i> Email : support@writecongress.us</a>
                </div>
                <div class="pull-right">
                    <ul class="social pull-left">
                        <li class="facebook"><a href="#"><i class="icon-facebook"></i></a></li>
                        <li class="twitter"><a href="https://twitter.com/WriteCongressUs" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li class="pinterest"><a href="http://www.pinterest.com/writecongress/" target="_blank"><i class="icon-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top Bar End -->
    <!-- Main Header Start -->
    <div class="main-header">
        <div class="container">
            <!-- TopNav Start -->
            <div class="topnav navbar-header">
                <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                    <i class="icon-angle-down icon-current"></i>
                </a>
            </div>
            <!-- TopNav End -->
            <!-- Logo Start -->
            <div class="logo pull-left">
                <h1>
                    <a href="/">
                        <img src="/content/images/write-congress-logo.png" alt="Write congress"  height="60">
                    </a>
                </h1>

              
            </div>
            <!-- Logo End -->
            

            <div class="">
                <div class="pull-left" id="mydistrict">
                    <div data-bind="visible:DisplayMyCongressPersons">
                        <img data-bind="attr:{title: Senators()[0].Tooltip,src:Senators()[0].Photo50()}" class="img-polaroid" data-toggle="tooltip" data-placement="left" />
                        <img data-bind="attr:{title: Senators()[1].Tooltip,src:Senators()[1].Photo50()}" class="img-polaroid" data-toggle="tooltip" data-placement="left" />
                        <img data-bind="attr:{title: Representative().Tooltip,src:Representative().Photo50()}" class="img-polaroid" data-toggle="tooltip" data-placement="left" />
                    </div>
                </div>
            </div>


            @Html.Partial("_TopNav")
        </div>
    </div>
    <!-- Main Header End -->
</header>