<div id="main_menu">
    <div class="container">
        <div id="main_menu_wrap">
            <div class="menu-main-container">
                <ul id="menu-main" class="menu">
                    <li><a href="/">Home</a></li>
                    <li style="color:#FFF">Hot Issues:</li>
                    <li><a href="/Issues/assult-weapons-ban-2013">Firearm Control</a></li>
                    <li><a href="/Issues/assult-weapons-ban-2013">Abortion</a></li>
                    <li><a href="/Issues/assult-weapons-ban-2013">Imigration</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>