<div id="main_menu">
					<div class="container">
						<div id="main_menu_wrap">
							<div class="menu-main-container">
								<ul id="menu-main" class="menu">
									<li><a href="/">Home</a></li>
                                   
									<li><a href="#">Send Letters</a>
										<ul class="sub-menu">
											<li>@Html.ActionLink("Issues","","Issues")</li>
											</li>
										</ul>
									</li>

                                    <li><a href="#">Submit Letters</a></li>

                                   <li>@Html.ActionLink("Prices","","prices")</li>

                                <li><a href="page-contact.html">About</a></li>
									<li><a href="page-contact.html">Contact</a></li>
								
								</ul>
							</div>
							
						</div>
					</div>
				</div>