<h3 class="muted">
    <a href="/"><img src="https://az417320.vo.msecnd.net/assets/images/logo.png" alt="Send a real letter to congress" id="logo" /></a>
    <div class="pull-right" id="mydistrict">
        <span data-bind="visible:DisplayMyCongressPersons">
            <img data-bind="attr:{title: Senators()[0].Tooltip,src:Senators()[0].Photo50()}" class="img-polaroid" data-toggle="tooltip" data-placement="left" />
            <img data-bind="attr:{title: Senators()[1].Tooltip,src:Senators()[1].Photo50()}" class="img-polaroid" data-toggle="tooltip" data-placement="left" />
            <img data-bind="attr:{title: Representative().Tooltip,src:Representative().Photo50()}" class="img-polaroid" data-toggle="tooltip" data-placement="left" />
        </span>
    </div>
    <div class="pull-right" id="myrep"></div>
    <div class="pull-right" style="margin-right: 5px;" id="mysenators"></div>
</h3>