body, container,.content, .row,.letter, h1, div {
    
    background-image: none;
    background:none;
    padding:0px;
    margin:0px;
    max-width:none;
    max-height:none;
    
}

.container
{
    margin-left:15px;
    
}

.letter {
    border:none;
    font-size:12.5px;

}
.letter-head {
 font-size:14px;
}
    
    


.sender, .date, .addressee,.re
{
    padding-bottom:12px;
}

.date {
    padding-top:10px;
}

.letter-head {
    border:none;
    font-weight:bold;
    
}



