body, container, .content, .row, .letter, h1, div {
    background-image: none;
    background: none;
    padding: 0px;
    margin: 0px;
    max-width: none;
    max-height: none;
    font-family: Calibri;
}


.container {
    margin-left: 0px;
    margin-top: 10px;
}

.letter {
    font-size: 20px;
    font-family: Calibri;
}

.letter-head {
    font-size: 22px;
    
}



.sender, .date, .addressee, .re {
    padding-bottom: 12px;
}

.date {
    padding-top: 10px;
    font-size: 22px;
}

.letter-head {
    border: none;
    font-weight: bold;
}


#letter-signature {
    margin-top: 10px;
    font-family: Pacifico;
    font-weight: 400;
    font-size: 28px;
}
