body {
    padding-bottom: 60px;
    background-image: url('/content/images/bg_linen.png');
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}

    .container > hr {
        margin: 60px 0px 30px 0px;
    }

/* Main marketing message and sign up button */
.jumbotron {
    margin: 80px 0;
    text-align: center;
}

    .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
    }

    .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
    }

    .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

    .marketing p + h4 {
        margin-top: 28px;
    }


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

    .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
    }

        .navbar .nav li a {
            font-weight: bold;
            text-align: center;
            border-left: 1px solid rgba(255,255,255,.75);
            border-right: 1px solid rgba(0,0,0,.1);
        }

        .navbar .nav li:first-child a {
            border-left: 0;
            border-radius: 3px 0 0 3px;
        }

        .navbar .nav li:last-child a {
            border-right: 0;
            border-radius: 0 3px 3px 0;
        }

.content {
    background: #fafafa;
    padding-top: 7px;
}

.letterinfo > h4 {
    text-transform: uppercase;
    font-size: 26px;
    text-justify: distribute;
}

.error {
}

.paymentform > .control-group {
    margin-bottom: 10px;
}

.validation-summary-errors[data-valmsg-summary=true] > ul > li {
    color: #fc4b4b !important;
}

.error {
    color: #fc4b4b !important;
}

.help-block {
    font-size: 12px;
}

.letter {
    background-image: url('/content/images/lightpaperfibers.png');
    font-family: Calibri;
    padding: 15px;
    border:1px solid black;
}

.letter-head {
    font-weight: bold;
}

.letter-reason {
    font-weight: bold;
    font-size: 20px;
}

.signature {
    font-family: Pacifico;
    font-weight: 400;
    font-size: 22px;
}

ul.issueletters > li {
    list-style: none;
}

div.media > a > i {
    font-size: 48px;
}

div.contact-info > h2 {
    font-family: Pacifico;
    font-weight: 400;
    font-size: 28px;
}

div.contact-info > h3 {
    font-weight: bold;
    font-size: 14px;
}

    div.contact-info > h3.small {
        font-weight: bold;
        font-size: 12px;
    }

div.contact-info > a {
    font-weight: bold;
    font-size: 18px;
}

    div.contact-info > a.small {
        font-weight: bold;
        font-size: 14px;
    }

    .container-fluid {
        min-height: 700px;
    }
    .photo-xsmall {
        width: 35px;
    }

    ul.thumbnails li.span4:nth-child(3n + 4) {
  margin-left : 0px;
}

ul.thumbnails li.span3:nth-child(4n + 5) {
  margin-left : 0px;
}

ul.thumbnails li.span12 + li {
  margin-left : 0px;
}

