@{
    ViewBag.Title = "FAQ";
}

<div class="container-fluid">
    <div class="row">
        <div class="span12">
            <h1>FAQ &ndash; A quick overview</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">FAQ</li>
                    <li class="active"><a href="#">What is this site?</a></li>
                    <li><a href="#">Who made this?</a></li>
                    <li class="nav-header">Pricing/Billing</li>
                    <li><a href="#">What does this cost?</a></li>
                    <li><a href="#">How do I know my card is safe?</a></li>
                    <li><a href="#">What is your refund policy?</a></li>
                    <li class="nav-header">Contact</li>
                    <li><a href="#">How can I contact you?</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div>
                <h3>What is this site?</h3>
            </div>
            <div>
                <h3>Who made this?</h3>
            </div>
            <div>
                <h3>What does this cost?</h3>
                <p>Costs are as follows:
                    <ul>
                        <li>$1.99 for the first letter on an issue (ex: sending to your Representative)</li>
                        <li>$1.49 each additional letter on an issue (ex: sending to your Senators  [$1.49x2] )</li>
                    </ul>
                    This covers printing, folding, stamping, and mailing your letter (within 1-2 business days). Sending to both your Senators and your Representative is $4.97
                </p>
            </div>
            <div>
                <h3>How do I know my card is safe?</h3>
            </div>
            <div>
                <h3>What is your refund policy?</h3>
            </div>
            <div>
                <h3>How can I contact you?</h3>
            </div>
        </div>
    </div>
</div>

