@{
    ViewBag.Title = "FAQ";
}@section head{
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
}
 <!-- Title, Breadcrumb Start-->
<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <h2 class="title">FAQ</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <div class="breadcrumbs pull-right">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <article>
                    <h3 class="title">Frequently Asked Questions</h3>
                    @*<div class="post-content">
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                        </p>
                    </div>*@
                </article>
            </div>
            <!-- Left Section End -->
        </div>
        <div class="divider"></div>
        <!-- 2 Column Testimonials -->
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="accordionMod panel-group">
                    <div class="accordion-item">
                        <h4 class="accordion-toggle">What is this site?</h4>
                        <section class="accordion-inner panel-body">
                            <p>Simply put, we help you write thought out and informed letters to congress (your Senators and Representative) and then actually PRINT and MAIL the letter on your behalf. No need to track down envelopes, stamps, your congress persons address, etc. We want to make it easy to be involved.</p>
                            <h5>Did you know?</h5>
                            <p>Many Congressional offices 'count' physical letters as <em>30</em> times more than email and <em>10</em> times a phonecall. The extra effort lets them know you <em>really</em> care. <b>That's why you should be mailing letters!</b></p>

                        </section>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-toggle">Who made this?</h4>
                        <section class="accordion-inner panel-body">
                            <p>Three friends from Minneapolis and Seattle (guess where the liberal lives....). Our names are Matt, George and Joseph and we're software engineers and problem solvers at heart. Feel free to reach out to us below:</p>
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="/content/images/joseph.png" class="img-circle" />
                                    <div class="contact-info">
                                        <h2>Joseph</h2>
                                        <h3 class="small">The Liberal</h3>
                                        <a class="small" href="mailto:joseph@writecongress.us">joseph@writecongress.us</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <img src="/content/images/george.png" class="img-circle" />
                                    <div class="contact-info">
                                        <h2>George</h2>
                                        <h3 class="small">The Independent</h3>
                                        <a class="small" href="mailto:george@writecongress.us">george@writecongress.us</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <img src="/content/images/matt.png" class="img-circle" />
                                    <div class="contact-info">
                                        <h2>Matt</h2>
                                        <h3 class="small">The Conservative</h3>
                                        <a class="small" href="mailto:matt@writecongress.us">matt@writecongress.us</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-toggle">What does this cost?</h4>
                        <section class="accordion-inner panel-body">
                            <p>
                                Costs are as follows:
                                <ul>
                                    <li>$1.99 for the first letter on an issue (ex: sending to your Representative)</li>
                                    <li>$1.49 each additional letter on an issue (ex: sending to your Senators  [$1.49x2] )</li>
                                </ul>
                                This covers printing, folding, stamping, and mailing your letter (within 1-2 business days). Sending to both your Senators and your Representative is $4.97
                            </p>
                        </section>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-toggle">How do I know my credit card info is safe?</h4>
                        <section class="accordion-inner panel-body">
                            <p>First off, our entire site uses SSL (HTTP/TLS). This means all information you send us is automatically encrypted using bank grade security. Secondly we're proud users of <a href="https://stripe.com/help/security" target="_blank">Stripe</a>. Your credit card info is sent directly to Stripe (<a href="http://www.visa.com/splisting/searchGrsp.do?companyNameCriteria=stripe" target="_blank">PCI Level 1 Compliant</a>). They lock it away in their digital vault much like your bank does, and when its time to charge your card we have to send a request to them. Rest assured your credit card data is never stored on our servers!</p>
                        </section>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-toggle">What is your refund policy?</h4>
                        <section class="accordion-inner panel-body">
                            <p>We can typically issue a refund within 1 business day of your purchase. After that we'll likely have already printed and mailed your letter (including licking the stamp), so a refund is not possible after 1 business day.</p>
                        </section>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-toggle">How can I contact you?</h4>
                        <section class="accordion-inner panel-body">
                            <p>Check out our <a href="/contact-us">Contact Us</a> page. (For support <a href="mailto:support@writecongress.us">support@writecongress.us</a>)</p>

                        </section>
                    </div>                   
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="contact-box widget">
                    <h3>More Questions?</h3>
                    <i class="icon-envelope"></i>
                    <p>Let us know your question via the contact form.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="contact-box widget">
                    <h3>Business Hour</h3>
                    <i class="icon-time"> </i>
                    <ul>
                        <li>Monday - Friday 9am to 5pm </li>
                        <li>Saturday - 9am to 2pm</li>
                        <li>Sunday - Closed</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- contact box end End-->
    </div>
</div>



