@{
    ViewBag.Title = "How This Works";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml"; 
}

<div class="container-fluid">
    <div class="row-fluid">
        <h1>How This Works</h1>
    </div>
    <div class="row-fluid">
        <div class="span8">
            <img  src="~/Content/images/howthisworks1.jpg" />
        </div>
        <span class="span4"><h3>1) Choose an issue &amp; pre-written letter, and checkout. It's that simple. </h3></span>    
</div>
<div class="row-fluid">
    <div class="span8">
        <img  src="~/Content/images/howthisworks2.jpg" />
        </div>
        <span class="span4"><h3>2) We'll print &amp; mail your letter on your behalf with your return address and digital signature.</h3></span>
    
</div>
<div class="row-fluid">
    <div class="span8">
        <img src="~/Content/images/howthisworks3.jpg" />
        </div>
        <span class="span4"><h3>3) The USPS will drive your letter to Congress</h3></span>
    
</div>
<div class="row-fluid">
    <div class="span8">
        <img src="~/Content/images/howthisworks4.jpg" />
        </div>
        <span class="span4"><h3>4) Your letter arrives on Capitol Hill ready fkor your congress person to read!</h3></span>
    </div>
</div>
</div>

