@{
    ViewBag.Title = "How This Works";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml"; 
}

<div class="container-fluid">
        <div class="row-fluid">
            <h1>How This Works</h1>
            <div>
                <p>
                  Bacon ipsum dolor sit amet beef ribs frankfurter spare ribs andouille filet mignon rump short loin. Boudin prosciutto ham hock tri-tip strip steak, tail t-bone turducken. Doner boudin tri-tip pastrami chuck, ham chicken kielbasa tongue tenderloin flank pork. Leberkas meatball turducken pork belly, jowl filet mignon ground round ham hock prosciutto shank.
                    </p>
<p>Swine spare ribs prosciutto, tri-tip short ribs salami frankfurter flank kielbasa sirloin brisket. Boudin venison leberkas short ribs ham hock shank biltong. Biltong bacon shankle, brisket boudin meatball ham hock ham short loin ball tip kielbasa salami bresaola. Pork chop swine tail t-bone cow pork belly frankfurter sirloin pork loin rump shank sausage. Drumstick sausage turducken kielbasa fatback prosciutto. Ground round rump shankle jowl ham hock ham turducken bacon. Jowl cow capicola pastrami filet mignon chuck, jerky turkey corned beef drumstick doner chicken prosciutto sirloin ball tip.
</p>
<p>Ball tip frankfurter bacon, doner flank drumstick jerky beef ribs. Sirloin strip steak frankfurter t-bone tri-tip beef ribs jerky tongue turducken pork chop bresaola sausage pork belly short loin. Pork meatloaf beef, pancetta turducken ball tip shank jerky short loin boudin prosciutto biltong doner corned beef venison. Strip steak swine pork chop salami chicken.
</p>
<p>Fatback tri-tip shoulder sirloin. Andouille salami rump prosciutto capicola. Rump boudin short ribs strip steak bacon. Corned beef shankle strip steak chicken pastrami sausage. Rump tail strip steak hamburger kielbasa chuck ham beef ribs ground round tenderloin ham hock ball tip. Ham filet mignon shank, bacon cow strip steak doner jerky tri-tip. Hamburger tenderloin filet mignon boudin venison fatback, leberkas short ribs spare ribs pork rump corned beef.
                </p>
            </div>
     
              

            </div>
        </div>

