@{
    ViewBag.Title = "How This Works";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml"; 
}

<div class="container-fluid">
        <div class="row-fluid">
            <h1>How This Works</h1>
            <div class="span8">
                <img src="~/Content/images/howthisworks1.jpg" />
            </div>
            <div class="span4"><p>Choose an issue &amp; pre-written letter, and checkout. It's that simple.</p></div>
            <div class="span8">
                <img src="~/Content/images/howthisworks2.jpg" />
            </div>
            <div class="span4">We'll print &amp; mail your letter on your behalf with your return address and digital signature.</div>
            <div class="span8">
                <img src="~/Content/images/howthisworks3.jpg" />
            </div>
            <div class="span4">The USPS will drive your letter to Congress</div>
            <div class="span8">
                <img src="~/Content/images/howthisworks4.jpg" />
            </div>
            <div class="span4">Your letter arrives on Capitol Hill ready for your congress person to read!</div>
        </div>

