@{
    ViewBag.Title = "Privacy Policy";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h1>Privacy Policy</h1>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h2>What information do we collect?
            </h2>
            <p>
                We collect information from you when you register on our site, place an order, subscribe to our newsletter or fill out a form.
When ordering or registering on our site, as appropriate, you may be asked to enter your or your organizations: 

 <ul>
     <li>Name</li>
     <li>E-mail address </li>
     <li>Mailing address</li>
     <li>Credit card information</li>
 </ul>
            </p>

            <h2>What do we use your information for?
            </h2>
            <p>
                Any of the information we collect from you may be used in one of the following ways:
                <ul>
                    <li>To personalize your experience</li>
                    <li>To improve your website</li>
                    <li>To improve customer service</li>
                    <li>To process transactions</li>
                    <li>To fulfill printing needs (return addresses, etc.)</li>
                </ul>
                Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other 
company for any reason whatsoever, without your consent, other than for the express purpose of delivering the 
purchased product or service requested.

The email address you provide for order processing, will only be used to send you information and updates 
pertaining to your order.
            </p>

            <h2>How do we protect your information?
            </h2>
            <p>
                We implement a variety of security measures to maintain the safety of your personal information when you place
an order or enter, submit, or access your personal information. 

All supplied sensitive/credit information is transmitted via HTTP/TLS (SSL) and then encrypted into our 
Payment gateway providers database only to be accessible by those authorized with special access rights to such
systems, and are required to keep the information confidential.

After a transaction, your private information (credit cards, mailings, recipient lists, financials, etc.) will 
not be kept on file for more than 365 days unless otherwise required by law or you opt-in to services that 
require longer storage periods
            </p>
            <h2>Do we use cookies?
            </h2>

            <p>
                Yes. We use cookies to understand and save your preferences for future visits and compile aggregate data 
about site traffic and site interaction so that we can offer better site experiences and tools in the future. 
We may contract with third-party service providers to assist us in better understanding our site visitors. 
These service providers are not permitted to use the information collected on our behalf except to help us 
conduct and improve our business. We currently use Google Analytics and Mixpanel for web analytics.
            </p>

            <h2>Do we disclose any information to outside parties?
            </h2>
            <p>
                We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. 
This does not include trusted third parties who assist us in operating our website, conducting our business, 
or servicing you, so long as those parties agree to keep this information confidential. We may also release 
your information when we believe release is appropriate to comply with the law, enforce our site policies, or 
protect ours or others rights, property, or safety. However, non-personally identifiable visitor information 
may be provided to other parties for marketing, advertising, or other uses.
            </p>

            <h2>Third party links
            </h2>
            <p>
                Occasionally, at our discretion, we may include or offer third party products or services on our website. 
These third party sites have separate and independent privacy policies. We therefore have no responsibility 
or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the 
integrity of our site and welcome any feedback about these sites.
            </p>

            <h2>California Online Privacy Protection Act Compliance
            </h2>
            <p>
                Because we value your privacy we have taken the necessary precautions to be in compliance with the California
Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties 
without your consent.
            </p>
            <p>
                As part of the California Online Privacy Protection Act, all users of our site may make any changes to their
information at any time by logging into their control panel and going to the ‘Account' page.
            </p>

            <h2>Children’s Online Privacy Protection Act Compliance 
            </h2>

            <p>
                We are in compliance with the requirements of COPPA (Children’s Online Privacy Protection Act), we do not
collect any information from anyone under 13 years of age. Our website, products and services are all directed 
to people who are at least 13 years old or older.
            </p>

            <h2>Terms and Conditions 
            </h2>
            <p>
                Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of 
liability governing the use of our website at https://www.writecongress.us/tos
            </p>
            <h2>Your Consent
            </h2>
            <p>
                By using our site, you consent to this privacy policy. 
            </p>

            <h2>Changes to our Privacy Policy
            </h2>
            <p>
                If we decide to change our privacy policy, we will post those changes on this page, and/or update the Privacy 
Policy modification date below. 
            </p>
            <p>
                This policy was last modified on 4/8/2013
            </p>

            <h2>Contacting Us
            </h2>
            <p>
                If there are any questions regarding this privacy policy you may contact us using the information below.
            </p>

            <p>
                <a href="https://www.writecongress.us">https://www.writecongress.us</a>
            </p>
            <p>
                93 S Jackson St #16193<br />
                Seattle, Washington 98104
                <br />
                United States<br />
                support@writecongress.us<br />
            </p>
        </div>
    </div>
</div>
