@{
    ViewBag.Title = "Terms of Service";
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h1>Terms of Service</h1>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">

            <h2>PRIVACY</h2>
            <p>
                Your privacy is very important to us at WriteCongress.us (also "WriteCongress").  The WriteCongress Privacy Policy is our commitment to safeguarding your privacy and governs the use of information collected from you or provided by you while on the Site.  Please review our privacy policy at <a href="https://www.writecongress.us/privacy">https://www.writecongress.us/privacy</a> to understand our practices.
            </p>

            <h2>ELECTRONIC COMMUNICATIONS</h2>
            <p>
                When you visit the Site or send e-mails to us, you consent to receive related communications from us electronically.  We will communicate with you by e-mail or by posting notices on this Site.  We may amend this Agreement without notice to you and these changes will be effective when posted. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing. 
            </p>

            <h2>USER ELIGIBILITY</h2>
            <p>
                This Site is available only to persons over the age of 18 who can form legally binding agreement(s) under applicable law.  If you do not qualify, you are not permitted to use the Site or order product or services from WriteCongress.  We may refuse any or all of our services to anyone at any time, in our sole discretion.
            </p>


            <h2>LICENSE AND SITE ACCESS</h2>
            <p>
                WriteCongress grants you a non-exclusive, non-sublicensable, non-transferable, revocable, limited right to license and access the Site and it to create, print and have placed in the United States Mail or with other delivery providers based upon the intended destination of such printed materials ("Printed Material") in accordance with the terms of this Agreement.  Any rights not expressly granted to you by this Agreement are reserved to WriteCongress.us.
            </p>

            <h2>PROPRIETARY RIGHTS</h2>
            <p>
                The Site and any software used in connection with the Site contain proprietary and confidential information that is protected by applicable intellectual property and other laws.  Any and all intellectual property rights ("Intellectual Property") associated with the Site and its contents are the sole property of WriteCongress.us, its affiliates or third parties. Except as otherwise expressly authorized by this Agreement, you may not use, copy, reproduce, modify, lease, loan, sell, reverse, assemble or otherwise attempt to discover any source code, create derivative works from, upload, transmit, or distribute the Intellectual Property of the Site in any way without WriteCongress.us's or the appropriate third party's prior written permission.  Except as expressly provided herein, WriteCongress.us does not grant to you any express or implied rights to WriteCongress.us's or any third party's Intellectual Property.
            </p>

            <h2>USE OF SITE </h2>
            <p>
                WriteCongress.us will not disclose to third parties private postal or electronic communications that are transmitted using WriteCongress.us services except as outlined in the Privacy Policy.
            </p>

            <h2>RETURN ADDRESS ON PRINTED MATERIAL </h2>
            <p>
                All return addresses used in mailings must be either controlled by the user of the Service or explicit permission from the recipient at the return address must be given to the user of the Service. From time to time or under certain circumstances, WriteCongress.us may request proof of explicit permission (including but not limited to date of permission, Internet Protocol address, and additional recipient contact information). 
            </p>

            <h2>YOUR CONTENT</h2>
            <p>
                All information, data, text, software, photographs, graphics, messages or other materials ("Content") you upload, post, or create using the Site is solely your responsibility and you assume liability arising from all Printed Material created on the Site under your account.  WriteCongress.us will routinely retain the Content for at least six (6) months unless otherwise required and will use such Content only in accordance with this Agreement and the WriteCongress.us Privacy Policy. We cannot nor do we try to moderate the content of Printed Material created using the services. You represent and warrant to WriteCongress.us that: (i) you and your authorized users have the full right, power, and authority to perform any function with relation to the Content (including without limitation uploading, posting, reproducing, distributing, publicly displaying and making derivative works from the Content) that you or they perform using WriteCongress.uss services; and (ii) your use and the use by your authorized users of the Content does not and will not infringe any copyright or right of privacy, violate any statutory or common law right; interfere with any intellectual property or other proprietary rights of any third party; contain any matter that is libelous or otherwise in contravention of law; or harm a minor in any way.  If a third party notifies us of a problem, or if we become aware of a problem with any Printed Material, we may review said material and take any action with respect to it that we deem necessary in our sole discretion, including, but not limited to, refusing to mail any Printed Material.  The fact that we may review Printed Material and allow it to be mailed does not mean that: (1) we will always review Printed Material, even if informed of a problem; (2) we approve or endorse the contents, (3) the content complies with all applicable laws, or (4) you will not incur any liability or harm arising from the Printed Material.
            </p>

            <h2>YOUR INFORMATION </h2>
            <p>
                All information you provide to us during the registration process or through any other feature on the Site will be referred to as "Your Information." WriteCongress.us will only use Your Information in accordance with our Privacy Policy.  We act as a neutral service for creation, printing, and mailing of Content, in reliance on your representations and warranties in this Agreement.  You authorize WriteCongress.us and its vendors and contractors to cooperate with the U.S. Postal Service and any U.S. or non-U.S. law enforcement or governmental agency, which cooperation includes but is not limited to, WriteCongress.us disclosing (subject to a lawful order to disclose) to the U.S. Postal Service, and any U.S. or non-U.S. law enforcement and/or governmental agency any or all of Your Information and your Content.
            </p>

            <h2>COMPLIANCE WITH LAWS</h2>
            <p>
                When you use the Site in any way, such as creating, printing and mailing Printed Material, you will comply at all times with all applicable United States Federal, state and local laws, statutes, regulations, rulings and ordinances and will not take any action that harms or violates the rights of any person or entity.  If you mail Printed Material outside the United States, you will comply with the laws of the country to which such Printed Material is mailed.  WriteCongress.us and the Site are based in the United States.  The United States and certain other jurisdictions control the export of products and information.  You agree to comply with all such applicable restrictions and not to export or re-export any software or information to countries or persons prohibited under the United States or other applicable export control laws or regulations.
            </p>

            <h2>INDEMNIFICATION</h2>
            <p>
                You will indemnify and hold WriteCongress.us, and its subsidiaries, affiliates, officers, shareholders, employees, agents, printers, contractors, vendors, co-branders, suppliers, internet service providers, and partners harmless from any loss, cost, claim, demand or other harm of any kind, including reasonable attorneys' fees, due to or arising out of Your Information, your Content, your Printed Material, your use of this Site, the use of this Site by any person who uses this Site while logged on under your user name and password, your default under any provision in this Agreement, your violation of any laws and your violation of any rights of another person.
            </p>

            <h2>PAYMENT AND CREDIT</h2>
            <p>
                To use WriteCongress.uss services you must provide payment through your debit or credit card, promotional voucher, or other means which may be made available by WriteCongress.us.  WriteCongress.us reserves the right to stop accepting debit or credit cards from one or more issuers.   
            </p>

            <h2>REFUND POLICY</h2>

            <p>
                WriteCongress.us won’t refund for mailing lost by the USPS or any other national mail carrier used. In the event of misprinted or mispackaged mailings, WriteCongress.us will provide a refund on a piece by piece basis. WriteCongress.us reserves the right to demand proof of any misprints or other errors. Any mailings cancelled after printing but before postmarked/stamped, may be refunded minus the cost to mail. WriteCongress.us reserves the right to terminate these Terms of Service with immediate effect, automatically and without recourse to the courts, in the event of any abuse by you of these terms relating to refunds.
            </p>

            <h2>TERMINATION </h2>
            <p>
                WriteCongress.us, in its sole discretion without notice to you, may: (1) terminate your access to the Site or your use of any feature of the Site, (2) remove and discard any of Your Information and your Content stored on the Site, or (3) refuse to mail any Printed Material and (4) terminate the Site, or any feature on the Site.  WriteCongress.us will not be liable to you or any third-party for any suspension or termination of your access to the Site or your Content; except WriteCongress.us will refund to you any unused or residual amounts which you have paid for but not used in connection with any Printed Material if you are so terminated by sending a check for such amount to your address of record.  
            </p>

            <h2>DISCLAIMER OF WARRANTIES</h2>
            <p>
                Your use of the Site is at your sole risk.  This Site is provided on an "as is" and "as available" basis.  WriteCongress.us disclaims all warranties of any kind, whether express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose and non-infringement.  WriteCongress.us makes no warranty that (1) the Site will meet your requirements, (2) the Site will be uninterrupted, timely, secure, or error-free, (3) the results that may be obtained from the use of the Site will be accurate or reliable, (4) the quality of any products, services, information, or other material purchased or obtained by you through this Site will meet your expectations, (5) that any Printed Material will be received by an addressee, and (6) any errors in the Software will be corrected.  Any material downloaded or otherwise obtained through the use of this Site is done at your own discretion and risk and you are solely responsible for any damage to your computer system or loss of data that results from the download of any such material.  No advice or information, whether oral or written, obtained by you from WriteCongress.us or through or from the Site shall create any warranty not expressly stated in this user agreement.
            </p>

            <h2>LINKS</h2>
            <p>
                This Site and/or third parties may provide, links to other websites or resources.  WriteCongress.us is not responsible for the availability of any external sites or resources to which we link ("Linked Sites"), and does not endorse, except where noted otherwise, and is not responsible or liable for any content, advertising, products, or other materials on or available from Linked Sites.  WriteCongress.us will not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any content, goods or services available on or through any Linked Sites.
            </p>

            <h2>LIMITATION OF LIABILITY</h2>
            <p>
                In no event shall WriteCongress.us be liable for any indirect, incidental, special, consequential, punitive or exemplary damages, including, but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses even if WriteCongress.us has been advised of the possibility of such damages), resulting from your use of or inability to use the Site, your purchase of any goods or services, the late delivery or nondelivery of any Printed Material, whether based on warranty, contract, tort or any other legal theory, whether or not WriteCongress.us has been advised of the possibility of such damages.
            </p>

            <h2>LIMITED WARRANTY</h2>
            <p>
                With respect to any Printed Material which has a material defect, our liability, and the liability of our printers, suppliers, contractors and vendors, to you or any third parties in any circumstance is limited to the (i) reprinting of such Printed Material or (ii) a refund equal to the lesser of amount paid by you for the defective Printed Material.

You acknowledge that neither WriteCongress.us nor any other third party partner or agent of WriteCongress.us involved in the provision of the Site (each such third party, a "Third Party Provider") can ensure that the operation of, performance of, and/or access to the services will be uninterrupted or error-free.  WriteCongress.us will not be obligated to correct, cure, or otherwise remedy any nonconformity or defect in any Printed Material (a) if caused by software or other equipment used by you which has not been provided by WriteCongress.us; (b) if you have inputted data incorrectly or disregarded any information or advice provided to you by the Site during the creation of your Printed Material; (c) if the Site has been misused or damaged in any respect; or (d) if you have not reported to WriteCongress.us the existence and nature of any such nonconformity or defect promptly upon discovering it.

WriteCongress.us does not and cannot control the flow of data to or from the Site, as such flow depends in large part on the performance of computer hardware and Internet services and software provided or controlled by third parties (including you), on the public Internet infrastructure, and on other events beyond the reasonable control of WriteCongress.us.  At times, action or inaction of third parties, hardware/software problems with the public Internet infrastructure or with your computing equipment, or other events beyond the reasonable control of WriteCongress.us can impair or disrupt your connection to the Site or between the Site and the third party printing companies responsible for any printing or mailing.  Save as specified in the foregoing paragraph, WriteCongress.us will not be liable for any such interruptions in your ability to access the Site or timely send out Printed Material resulting from or related to such services, software, or events.

WriteCongress.us does not and cannot control the actions of the United States Postal Service or the delivery of U.  S.  Mail.  Therefore, WriteCongress.us cannot be responsible for the actual or timely delivery of any Printed Material after it is delivered to the USPS.  Neither the USPS nor WriteCongress.us will refund any postage costs for any Printed Material not delivered or timely delivered nor shall the USPS or WriteCongress.us be liable for any costs to redeliver Printed Material which was not originally timely delivered by the USPS.  Neither the USPS nor WriteCongress.us shall be liable for the mailing costs for re-mailing any Printed Material which was materially defective and which you elect, under the warranty set forth above, to have reprinted by WriteCongress.us.

You acknowledge and agree that WriteCongress.us shall not be responsible for the content of Printed Material or the modification, use or publication of any Printed Material by you or any other participant or third party (other than WriteCongress.us's agents and subcontractors).
            </p>

            <h2>DISCLAIMER</h2>
            <p>
                THE SITE AND ITS SERVICES AND PRODUCTS ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT ANY WARRANTY OR REPRESENTATIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED.  IN NO EVENT WILL WriteCongress.us OR ANY THIRD PARTY PROVIDER BE LIABLE TO YOU IN RELATION TO THIS AGREEMENT FOR ANY INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING WITHOUT LIMITATION LOSS OF PROFITS, LOSS OF BUSINESS OPPORTUNITY, LOSS OF REVENUES OR SAVINGS, LOSS OF DATA OR COSTS OF RECREATING LOST DATA) WHETHER BASED ON CONTRACT, TORT OR ANY OTHER LEGAL THEORY, EVEN IF WriteCongress.us HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  THIS LIMITATION UPON DAMAGES AND CLAIMS IS INTENDED TO APPLY WITHOUT REGARD TO WHETHER OTHER PROVISIONS OF THIS AGREEMENT HAVE BEEN BREACHED OR HAVE BEEN HELD TO BE INVALID OR INEFFECTIVE.  WriteCongress.us IS NOT A PUBLISHER OF THE CONTENT SUPPLIED BY THIRD PARTIES AND USERS OF THE SITE; AS SUCH, WriteCongress.us EXERCISES NO EDITORIAL CONTROL OVER SUCH CONTENT AND MAKES NO WARRANTY OR REPRESENTATION AS TO THE ACCURACY, RELIABILITY OR CURRENCY OF ANY INFORMATION, CONTENT, SERVICE OR MERCHANDISE PROVIDED THROUGH THE SITE.  WITHOUT LIMITING THE FOREGOING, WriteCongress.us SPECIFICALLY DISCLAIMS ALL WARRANTIES AND REPRESENTATIONS AS THE PUBLISHER OF ANY CONTENT TRANSMITTED ON OR IN CONNECTION WITH THE SITE OR ON SITES THAT MAY APPEAR AS LINKS ON THE SITE, OR AS THE MANUFACTURER OF THE PRODUCTS PROVIDED AS A PART OF, OR OTHERWISE IN CONNECTION WITH, THE SITE, INCLUDING WITHOUT LIMITATION ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT OF THIRD PARTY RIGHTS.
            </p>

            <h2>ARBITRATION</h2>
            <p>
                Any dispute relating in any way to your visit to the Site or to any Printed Material shall be submitted to confidential, binding arbitration in Seattle, Washington, WriteCongress.us may seek injunctive or other appropriate relief in the state of Washington, and you consent to exclusive jurisdiction of and venue in such courts.  Arbitration under this agreement shall be conducted under the rules then prevailing of the American Arbitration Association.  The arbitrator's award shall be binding and may be entered as a judgment in any court of competent jurisdiction.  To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class arbitration proceedings or otherwise.

You agree that any claim or cause of action arising out of or related to your use of the Site or MOL must be filed within one (1) year after such use.
            </p>

            <h2>SURVIVAL</h2>
            <p>
                All provisions of this Agreement which expressly or by implication continue to govern the parties' rights and obligations after termination of use of the Site shall survive notwithstanding completion of any transaction in connection with which the Site is used.
            </p>

            <h2>GENERAL</h2>
            <p>
                If any provision of this Agreement is held by a court of competent jurisdiction to be contrary to law, then such provision(s) shall be construed, as nearly as possible, to reflect the intentions of the parties, with all other provisions remaining in full force and effect.  The failure of WriteCongress.us to enforce any right or provision in this Agreement shall not constitute a waiver of such right or provision unless acknowledged and agreed to by WriteCongress.us in writing.  This Agreement comprises the entire agreement between you and WriteCongress.us and supersedes all prior or contemporaneous negotiations, discussions or agreements, if any, between the parties regarding the subject matter contained herein.  Your use of the Site, however, is subject to the additional disclaimers and caveats that may appear throughout the Site.
            </p>
        </div>
    </div>
</div>