@{
    ViewBag.Title = "WriteCongress.us Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PreScripts {
    <script>
        window.localStorage.clear();
    </script>
}

<div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <h2 class="title">Sign Out</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">

                </div>
            </div>
        </div>
    </div>
    <!-- Main Content start-->
    <div class="content">
        <div class="container fill">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 row_style_1">

                    <p>
                        You have been sucessfully logged out.  Please come back again soon. If you need any assistance please <a href="/contact-us">Contact Us</a>.
                    </p>
           
                </div>
                <p></p>
        </div>
    </div>
    <!-- Main Content end-->
</div>
<!-- Content End -->






    