@using System.Drawing
@model WriteCongress.Core.PasswordReset
@{
    Layout = "~/Views/Email/_Layout.cshtml";
}
<h2>WriteCongress.us Password Reset</h2>

<p>Hey, it happens to all of us (needing to reset a password)</p>
<p>The link below is good for up to 24 hours or 1 use (whichever comes first)</p>

@Html.EmailButton("Reset Password", "https://www.writecongress.us/authentication/BeginPasswordReset?token=" + Model.Guid.ToString(), Color.DodgerBlue)

<p>This request was initiated from @Model.UserHostAddress @@ @Model.DateRequestedUtc UTC</p>

<p>
WriteCongress.us Support<br />
<a href="mailto:support@writecongress.us">support@writecongress.us</a>
</p>