@using System.Configuration
<div id="fb-root"></div>
<a id="fbLogin" href="#" class="button">Login with Facebook</a>
@section AdHocScripts{
    @*<script type="text/javascript">*@

        console.log('foo');
        // Additional JS functions here
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@ConfigurationManager.AppSettings["FacebookAppId"]',
                channelUrl: 'http://localhost:57435/Authentication/FacebookChannel',
                status: true,
                cookie: true,
                xfbml: true
            });

            FB.getLoginStatus(function (response) {
                if (response.status === "connected") {
    FB.api('/me', function (response) {
    console.log(response);
                        console.log('Good to see you, ' + response.name + '.');
                    });
                }
            });
        };


        // Load the SDK Asynchronously
        (function(d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));


        $('#fbLogin').on('click', function () {
            FB.getLoginStatus(function (response) {
                console.log(JSON.stringify(response));
                if (response.status === 'connected') {
                    alert('already logged in');
                } else {
                    FB.login(function (response) {
                        if (response.authResponse) {
                            // connected
                        } else {
                            // cancelled
                        }
                    });
                }
            });
        });
    @*</script>*@
}
