@{
    ViewBag.Title = "Sending snail mail to congress requires a password, reset yours here.";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>Password Reset</h2>
            <h5>Enter your email and we'll send you a password reset email</h5>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="well">
                <div class="input-append">
                    <input class="span12" id="email" placeholder="Email Address" type="text">
                    <button id="reset" class="btn" type="button">Reset</button>
                </div>
                <div class="alert hide"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function() {
            $('#reset').on('click', function () {
                var link = $(this);
                link.css('cursor', 'wait');
                document.body.style.cursor = 'wait';
                var xhr = $.post('/Authentication/PasswordReset', { email: $('#email').val() }, function (data) {
                    link.css('cursor', 'default');
                    document.body.style.cursor = 'default';
                    if (data === true) {
                        $('.alert').removeClass('alert-danger').addClass('alert-success').html('Check your inbox, we\'ve sent you an email :)').show();
                    } else {
                        $('.alert').removeClass('alert-success').addClass('alert-danger').html('Invalid Email. Double check your inbox for previous emails from us.').show();
                    }
                });
                xhr.error = function () {
                    link.css('cursor', 'default');
                    document.body.style.cursor = 'default';
                    $('.alert').removeClass('alert-success').addClass('alert-danger').html('Whoops. Something did\'t work quite right. Try again in a few minutes?').show();
                };
            });
        });
    </script>
}