@model WriteCongress.Core.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
<div class="container-fluid">
    <div class="row-fluid">
      
    </div>
</div>

