@model WriteCongress.Core.Order
@{
    ViewBag.Title = "Order Detail - " + Model.OrderDetails.First().Letter.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="divider"></div>
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <h3 class="title">Order Detail</h3>
            <h4>Order Date: <small>@Model.CreateDateUtc</small></h4>
            @foreach (var od in Model.OrderDetails)
            {
                <div class="media">
                    <a class="pull-left" href="#">
                        <div class="portfolio-item">
                            <img class="img-polaroid" src="https://az417320.vo.msecnd.net/congress-photos/@od.Person.OpenCongressId-50px.jpg">
                        </div>
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">@od.Person.FullNameAndTitle</h5>
                        <h5 class="media-heading">Price:  <small>@od.Price</small></h5>
                        @*<h5 class="media-heading"><i class="icon-download"></i> <a href="#">Download PDF</a></h5>*@
                    </div>
                </div>
            }
            <h4>Total: <small>$@Model.OrderTotal</small></h4>
        </div>
        <div class="col-lg-7 col-md-7">
            <h3 class="title">Order Status</h3>
            <ul class="statuses unstyled">
                <li>
                    <div id="status-1" class="@if (Model.OrderStatusId == 1) {<text>alert alert-success</text>
                                              }
                                              else {
                                                  <text>well</text>
                                              }">
                        <h3>Paid & Order Review</h3>
                        <p>We here at WriteCongress.us are currently in the process of sending your personalized letter to our printing facility.</p>
                    </div>
                </li>
                <li>
                <div id="status-2" class="@if (Model.OrderStatusId == 2 || Model.OrderStatusId == 3) {<text>alert alert-success</text>
                                              }
                                              else {
                                                  <text>well</text>
                                              }">
                        <h3>Processing, Printing & Folding</h3>
                        <p>We're preparing print, mail, stamp, and mail your letter, this is typically less than 1 business day.</p>
                    </div>
                </li>
                <li>
                    <div id="status-4" class="@if (Model.OrderStatusId == 4) {<text>alert alert-success</text>
                                              }
                                              else {
                                                  <text>well</text>
                                              }">
                        <h3>Printed, Stamped and Mailed</h3>
                        <p>We've printed and mailed your letters! Your order is now complete.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

