<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="TryPaperKey" value="TPTESTTP79C31ACD1635111911B3F7F4 "/>
    
  </appSettings>
  
  <connectionStrings>
    <add name="WriteCongressConnection" connectionString="metadata=res://*/WriteCongressDataModel.csdl|res://*/WriteCongressDataModel.ssdl|res://*/WriteCongressDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:ikgdngr4jq.database.windows.net,1433;initial catalog=WriteCongress;integrated security=False;user id=writecongress;password=m5@VWmj5oVFT#RWDyl;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=WCW&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>