@using WriteCongress.Core
@model WriteCongress.Core.Issue

@{
    ViewBag.Title = "Send a real letter to congress about "+@Model.Name;
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    
}
<div class="container-fluid">
        <div class="row-fluid">
            <h1>@Model.Name</h1>
            <div>
                <p>
                    @Model.Description
                </p>
            </div>
            <div>
                 @{
                var issueLetters = (List<Letter>) ViewBag.Letters;
                var lettersYay = issueLetters.Where(i => i.Against == true).ToList();
                var lettersNay = issueLetters.Where(i => i.Against == false).ToList();
            }
            
                <ul class="issuelist"> 
                    @foreach (var letter in issueLetters)
                    {
                         <li>
                        <div class="media">
                          <a class="pull-left" href="/Issues/@Model.Slug/@letter.Slug">
                              @if(letter.Against){<i class="icon-thumbs-down"></i>}else{<i class="icon-thumbs-up"></i>}                          
                          <div class="media-body">
                              <a  href="/Issues/@Model.Slug/@letter.Slug"><h4 class="media-heading">@letter.Name</h4></a>
                            <p>@letter.Description</p>
                          </div>
                        </div>
                    </li>
                    }
                </ul>

            </div>
        </div>

</div>